<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bg Remove</title>
</head>
<body>
    <div class="container">
        <h1>Background Remover</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required>
            <button type="submit">Remove Bg</button>
        </form>

        {% if image_data %} 
            <div class="res-img">
                <img src="data:image/png;base64, {{image_data}}" alt="result image">
            </div>
            <a href="data:image/png;base64, {{image_data}}" download="removed_bg" class="downImg">Download Image</a>
        {% endif %}
    </div>
</body>
</html>